$bgColor: rgb(197, 197, 244);


body {

  #history {
    padding: 40px;
    background: $bgColor;
    border: 6px  rgb(86, 96, 118) solid;
    word-wrap: break-word;
    h1 {
      color:rgb(97, 206, 245)
    }
    h3 {
      font-family: fantasy;
    }
    li {
      font-size: small;
    }
  }
}
